body.wp-admin {
   button {
      cursor: pointer;
   }
}

/* Menu Admin */

#adminmenu {

   li.wp-menu-separator {
      height: 0 !important;
      margin: 0 !important;
      padding: 20px 0 !important;
   }
   
   div.separator {
      height: 1px !important;
      background: #757575 !important;
   }
} 

/* Single */

body.wp-admin #editor .edit-post-visual-editor,
body.block-editor-iframe__body {
   --cl-main: #00a1ff;
   --cl-main-hover: #0066ff;
   
   background-color: #FFFFFF;

   h1.wp-block-post-title {
      font-weight: 600;
   }

   h2:not(.uagb-question),
   h3:not(.uagb-question),
   h4:not(.uagb-question),
   h5:not(.uagb-question),
   h6:not(.uagb-question) {
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 600;
   }

   @media (min-width: 576.6px) {
		
	   h1.wp-block-post-title {
		  font-size: 38px;
	   }
		
	   h2 {
		  font-size: 26px;
	   }
	}

	@media (max-width: 576.5px) {
	   h1.wp-block-post-title {
		  font-size: 28px;
	   }
	   h2 {
		  font-size: 22px;
	   }
	}

   h3:not(.uagb-question) {
      padding-left: 30px;
      font-size: 20px;
   }

   h4:not(.uagb-question) {
      padding-left: 50px;
      font-size: 19px;
   }

   h5:not(.uagb-question) {
      padding-left: 70px;
      font-size: 18px;
   }

   h6:not(.uagb-question) {
      padding-left: 90px;
      font-size: 18px;
   }

   p {
      margin-top: 15px;
      margin-bottom: 15px;
	}

   p:not(.wp-block-pullquote p):not(.has-text-align-center p):not(.has-text-align-left p):not(.has-text-align-right p):not(.has-text-align-center):not(.has-text-align-left):not(.has-text-align-right) {
      text-align: justify;
   }

   /* Images */

   figure.wp-block-image img {
      border-radius: 7px;
   }

   /* Trich dan */

   .wp-block-pullquote__citation,
   .wp-block-pullquote cite,
   .wp-block-pullquote footer {
      text-transform: uppercase;
      font-style: unset;
   }

   .wp-block-quote {
      display: table;
      width: 100%;
      margin: 0 auto;
      padding: 1em;
      background-color: #FEF1E4;
      border-left: 5px solid var(--cl-main-hover);
   }

   .wp-block-quote cite {
      font-size: 15px;
   }

   .wp-block-pullquote {
      padding: 30px 0;
      border-top: 5px solid var(--cl-main);
      border-bottom: 5px solid var(--cl-main);

      p {
         font-size: 22px;
         line-height: inherit;
      }

      cite {
         font-size: 20px;
         line-height: inherit;
      }
   }

   /* Chu viet hoa - Thut dong ky tu dau tien */

   .has-drop-cap:first-letter {
      font-size: 3.4em;
   }

   /* CodeMirror Blocks */

   .code-block {
      margin: 30px 0
   }
}