body.wp-admin {
   button {
      cursor: pointer;
   }
}

/* Menu Admin */

#adminmenu {

   li.wp-menu-separator {
      height: 0 !important;
      margin: 0 !important;
      padding: 20px 0 !important;
   }

   div.separator {
      height: 1px !important;
      background: #757575 !important;
   }
}

/* Single */

body.wp-admin #editor .edit-post-visual-editor,
body.block-editor-iframe__body {
   --cl-main: #00a1ff;
   --cl-main-hover: #0066ff;

   h2:not(.uagb-question),
   h3:not(.uagb-question),
   h4:not(.uagb-question),
   h5:not(.uagb-question),
   h6:not(.uagb-question) {
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 600;
   }

   @media (min-width: 576.6px) {

      h1.wp-block-post-title {
         font-size: 38px;
      }

      h2 {
         font-size: 26px;
      }
   }

   @media (max-width: 576.5px) {
      h1.wp-block-post-title {
         font-size: 28px;
      }

      h2 {
         font-size: 22px;
      }
   }

   h3:not(.uagb-question) {
      padding-left: 30px;
      font-size: 20px;
   }

   h4:not(.uagb-question) {
      padding-left: 50px;
      font-size: 19px;
   }

   h5:not(.uagb-question) {
      padding-left: 70px;
      font-size: 18px;
   }

   h6:not(.uagb-question) {
      padding-left: 90px;
      font-size: 18px;
   }

   p:not(.wp-block-pullquote p):not(.has-text-align-center p):not(.has-text-align-left p):not(.has-text-align-right p):not(.has-text-align-center):not(.has-text-align-left):not(.has-text-align-right) {
      text-align: justify;
   }

   /* Chu viet hoa - Thut dong ky tu dau tien */

   .has-drop-cap:first-letter {
      font-size: 3.4em;
   }

   /* CodeMirror Blocks */

   .code-block {
      margin: 30px 0
   }
}